.header {
  /* display: flex; */
  width: calc(100% - 300px);

  background-color: #202020;
  box-shadow: 5px 0 15px #05050581;

  position: fixed;
  right: 0;
  z-index: 1000;
}
.header__left {
  float: left;
  width: 60%;
}

.header__right {
  float: right;
  width: 40%;
  /* right: 0; */
  /* display: flex;
  justify-content: flex-end; */
}

.nav__list {
  /* display: flex; */
}

.nav__item {
  position: relative;
}

.nav__item:hover.nav__link {
  background-color: #fb451e;
}

.nav__link:hover {
  background-color: #fb451e;
}

.nav__link {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f8f8f8;
  text-decoration: none;

  padding: 1.35rem;

  transition: background-color 0.2s linear;
}

.search {
  float: right;
}

.smaller__screen {
  display: none;
  float: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f8f8f8;
  text-decoration: none;

  padding: 1.35rem;

  transition: background-color 0.2s linear;
}

@media (max-width: 1080px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header {
    width: 100%;
  }
  .nav__link {
    display: none;
  }
  .smaller__screen {
    display: block;
  }
  .search {
    display: none;
  }
}
